.container{
    text-align: center;
    display:block;
    margin:10px auto;
    width:600px;
    height:700px;
    border-width:6px 4px 6px 6px;
    border-style:double;
    border-color:palevioletred;
    box-shadow:2px 2px 4px 2px rgb(121, 47, 121);
   
   }
   .mainPage > li{
    width:600px;
    height:700px;
   }

   h1{
 margin-top:2em ;
 display:block;
 font-size:4em;
 font-style:italic;
 margin-top:50px;
 color:rgb(156, 22, 67);
   }
   #new-task{
    margin-top: 2em;
    width: 10em;
    display: block;
    font-style:italic;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-bottom: 2px solid rgb(156, 22, 67);
    border-top: 2px solid rgb(156, 22, 67);
    border-left: none;
    border-right: none;
   }
   button{
    margin-top: 2em;
    font-size: 2em;
    width: 5em;
    font-style:italic;
    outline: none;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    background-color: rgb(156, 22, 67);
   }
   .list li{
    list-style:none;
    font-size:20px;
    font-weight:600;
    color:purple;
    padding:12px;
    margin-top:10px;
    margin-left:-20px;
    margin-right:50px;
    display:block;
    border-bottom:2px solid purple;
   }
   
   .list li:hover{
    border:4px dashed purple;
    background-color:whitesmoke;
   }
   
   .delete{
    display:block;
    cursor:pointer;
    float:right;
    padding:4px;
    margin-top:-5px;
    border:2px solid purple;
    border-radius:20%;
   }
   
   .delete:hover{
    background-color:purple;
    color:whitesmoke;
   }