.image {

    border-radius:50%;
    width:40%;
    height:30%;
}

h1.cool {
    margin: 0;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
}


@keyframes glow {
    from {
          text-shadow: 0 0 20px #2d9da9;
    }

    to {
          text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
}


.done {

    text-decoration: line-through;
}